/***************
    GENERAL
***************/

* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

#app {
    width: 100vw;
    height: 100vh;
    padding: 60px 30px;
    background-color: cadetblue;
    text-align: center;
}

.container {
    height: 90%;
}

#generatedEmails {
    width: 50%;
    min-width: max-content;
    max-width: 615px;
    /* height: 50%; */
    max-height: 60%;
    padding: 30px;
    margin: 50px auto;
    background-color:rgb(255, 248, 238);
    text-align: center;
    overflow-y: scroll;

}

ul {
    list-style-type: none;
    width: 100%;
}

    li {
        margin: 10px 0;
        cursor: pointer;
        border-bottom: 1px solid lightgray;
        padding: 5px;
    }

        a {
            text-decoration: none;
            color: black;
        }

input {
    width: 280px;
    padding: 10px 0;
    text-align: center;
    margin: 20px;

}

button {
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}