<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
    
    <!-- VueJS -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- AXIOS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="css/style.css">

    <title>vue-email-list</title>
</head>
<body>
<!-- VueJS -->
<div id="app">

    <h1>GENERATORE DI INDIRIZZI EMAIL</h1>

    <div id="generatedEmails">
        <ul v-if="randomEmails.length === numRandomEmails">
            <li
            v-for="randomEmail in randomEmails">
                <a href="mailto:{{randomEmail}}">{{randomEmail}}</a>
            </li>
        </ul>
        <!-- ...altrimenti visualizza: -->
        <span v-else>WAITING TO GENERATE...</span>
    </div>

    <!-- Number of email to generate -->
    <input type="number"
        min="1"
        placeholder="Inserisci il numero di email da generare..."
        v-model="numRandomEmails"
        @keyup.enter="generateEmail()">
    <br>

    <button
    @click="generateEmail()">GENERA</button>
</div>


<!-- JS Files  -->
<script type="text/javascript" src="js/main.js"></script>
</body>
</html>